# Problem Definition
> A problem to carryout a comparative analysis on three machine models; Random forest classifier, LinearSVC and Logistic Regression. 
# Data
The dataset for this project is gotten from a competition on kaggle which uses the popular mnist dataset for digit recognition. link here https://www.kaggle.com/oddrationale/mnist-in-csv  The original dataset is in a format that is difficult for beginners to use. This dataset uses the work of Joseph Redmon to provide the MNIST dataset in a CSV format.


**data dictionary**


The dataset consists of two files:

* mnist_train.csv
* mnist_test.csv


The mnist_train.csv file contains the 60,000 training examples and labels. The mnist_test.csv contains 10,000 test examples and labels. Each row consists of 785 values: the first value is the label (a number from 0 to 9) and the remaining 784 values are the pixel values (a number from 0 to 255).

# Features
The features used in this dataset comprises of a number from 0 to 255 which indicates the pixel values and the label is the first column of the dataset.
# Modelling
We carried out our modelling of three machine learning models so as to efficiently carry out the comparative analysis.
# Evaluation
We carried out our evaluation on the following parameters; accuracy, f1, precision, and recall score so as to determine the best machine learning model.

In [1]:
# necessary import for EDA
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
# import the train data
df = pd.read_csv('data/mnist_train.csv')
df.head()

,5,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.608,0.609,0.610,0.611,0.612,0.613,0.614,0.615,0.616,0.617
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
#check the shape of the dataset
df.shape

(59999, 785)

In [4]:
df.columns

Index(['5', '0', '0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.7', '0.8',
       ...
       '0.608', '0.609', '0.610', '0.611', '0.612', '0.613', '0.614', '0.615',
       '0.616', '0.617'],
      dtype='object', length=785)

In [5]:
# check the dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59999 entries, 0 to 59998
Columns: 785 entries, 5 to 0.617
dtypes: int64(785)
memory usage: 359.3 MB

In [6]:
#check the statistical analysis of the dataset
df.describe()

,5,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.608,0.609,0.610,0.611,0.612,0.613,0.614,0.615,0.616,0.617
count,59999.000000,59999.0,59999.0,59999.0,59999.0,59999.0,59999.0,59999.0,59999.0,59999.0,...,59999.000000,59999.000000,59999.000000,59999.000000,59999.000000,59999.000000,59999.0,59999.0,59999.0,59999.0
mean,4.453924,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.200437,0.088868,0.045634,0.019284,0.015117,0.002000,0.0,0.0,0.0,0.0
std,2.889294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.042522,3.956222,2.839868,1.686784,1.678297,0.346603,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.000000,254.000000,253.000000,253.000000,254.000000,62.000000,0.0,0.0,0.0,0.0

### Data Pre-processing

In [7]:
#copy the dataset to a new directory
df_temp = df.copy()

In [8]:
df_temp.head()

,5,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.608,0.609,0.610,0.611,0.612,0.613,0.614,0.615,0.616,0.617
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# check for missing values
df_temp.isna().sum()

5        0
0        0
0.1      0
0.2      0
0.3      0
        ..
0.613    0
0.614    0
0.615    0
0.616    0
0.617    0
Length: 785, dtype: int64

In [11]:
# check for numerical features
for label, content in df_temp.items():
    if pd.api.types.is_numeric_dtype(content):
        print(label);

5
0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9
0.10
0.11
0.12
0.13
0.14
0.15
0.16
0.17
0.18
0.19
0.20
0.21
0.22
0.23
0.24
0.25
0.26
0.27
0.28
0.29
0.30
0.31
0.32
0.33
0.34
0.35
0.36
0.37
0.38
0.39
0.40
0.41
0.42
0.43
0.44
0.45
0.46
0.47
0.48
0.49
0.50
0.51
0.52
0.53
0.54
0.55
0.56
0.57
0.58
0.59
0.60
0.61
0.62
0.63
0.64
0.65
0.66
0.67
0.68
0.69
0.70
0.71
0.72
0.73
0.74
0.75
0.76
0.77
0.78
0.79
0.80
0.81
0.82
0.83
0.84
0.85
0.86
0.87
0.88
0.89
0.90
0.91
0.92
0.93
0.94
0.95
0.96
0.97
0.98
0.99
0.100
0.101
0.102
0.103
0.104
0.105
0.106
0.107
0.108
0.109
0.110
0.111
0.112
0.113
0.114
0.115
0.116
0.117
0.118
0.119
0.120
0.121
0.122
0.123
0.124
0.125
0.126
0.127
0.128
0.129
0.130
0.131
0.132
0.133
0.134
0.135
0.136
0.137
0.138
0.139
0.140
0.141
0.142
0.143
0.144
0.145
0.146
0.147
0.148
0.149
0.150
0.151
3
18
18.1
18.2
126
136
175
26
166
255
247
127
0.152
0.153
0.154
0.155
0.156
0.157
0.158
0.159
0.160
0.161
0.162
0.163
30
36
94
154
170
253
253.1
253.2
253.3
253.4
225
172
253.5
242
195
64
0.164
0.165
0.166
0.167
0.168
0.169
0.170
0.171
0.172
0.173
0.174
49
238
253.6
253.7
253.8
253.9
253.10
253.11
253.12
253.13
251
93
82
82.1
56
39
0.175
0.176
0.177
0.178
0.179
0.180
0.181
0.182
0.183
0.184
0.185
0.186
18.3
219
253.14
253.15
253.16
253.17
253.18
198
182
247.1
241
0.187
0.188
0.189
0.190
0.191
0.192
0.193
0.194
0.195
0.196
0.197
0.198
0.199
0.200
0.201
0.202
0.203
0.204
80
156
107
253.19
253.20
205
11
0.205
43
154.1
0.206
0.207
0.208
0.209
0.210
0.211
0.212
0.213
0.214
0.215
0.216
0.217
0.218
0.219
0.220
0.221
0.222
0.223
0.224
14
1
154.2
253.21
90
0.225
0.226
0.227
0.228
0.229
0.230
0.231
0.232
0.233
0.234
0.235
0.236
0.237
0.238
0.239
0.240
0.241
0.242
0.243
0.244
0.245
0.246
0.247
0.248
0.249
139
253.22
190
2
0.250
0.251
0.252
0.253
0.254
0.255
0.256
0.257
0.258
0.259
0.260
0.261
0.262
0.263
0.264
0.265
0.266
0.267
0.268
0.269
0.270
0.271
0.272
0.273
11.1
190.1
253.23
70
0.274
0.275
0.276
0.277
0.278
0.279
0.280
0.281
0.282
0.283
0.284
0.285
0.286
0.287
0.288
0.289
0.290
0.291
0.292
0.293
0.294
0.295
0.296
0.297
0.298
35
241.1
225.1
160
108
1.1
0.299
0.300
0.301
0.302
0.303
0.304
0.305
0.306
0.307
0.308
0.309
0.310
0.311
0.312
0.313
0.314
0.315
0.316
0.317
0.318
0.319
0.320
0.321
81
240
253.24
253.25
119
25
0.322
0.323
0.324
0.325
0.326
0.327
0.328
0.329
0.330
0.331
0.332
0.333
0.334
0.335
0.336
0.337
0.338
0.339
0.340
0.341
0.342
0.343
0.344
45
186
253.26
253.27
150
27
0.345
0.346
0.347
0.348
0.349
0.350
0.351
0.352
0.353
0.354
0.355
0.356
0.357
0.358
0.359
0.360
0.361
0.362
0.363
0.364
0.365
0.366
0.367
16
93.1
252
253.28
187
0.368
0.369
0.370
0.371
0.372
0.373
0.374
0.375
0.376
0.377
0.378
0.379
0.380
0.381
0.382
0.383
0.384
0.385
0.386
0.387
0.388
0.389
0.390
0.391
0.392
249
253.29
249.1
64.1
0.393
0.394
0.395
0.396
0.397
0.398
0.399
0.400
0.401
0.402
0.403
0.404
0.405
0.406
0.407
0.408
0.409
0.410
0.411
0.412
0.413
46
130
183
253.30
253.31
207
2.1
0.414
0.415
0.416
0.417
0.418
0.419
0.420
0.421
0.422
0.423
0.424
0.425
0.426
0.427
0.428
0.429
0.430
0.431
0.432
39.1
148
229
253.32
253.33
253.34
250
182.1
0.433
0.434
0.435
0.436
0.437
0.438
0.439
0.440
0.441
0.442
0.443
0.444
0.445
0.446
0.447
0.448
0.449
0.450
24
114
221
253.35
253.36
253.37
253.38
201
78
0.451
0.452
0.453
0.454
0.455
0.456
0.457
0.458
0.459
0.460
0.461
0.462
0.463
0.464
0.465
0.466
0.467
23
66
213
253.39
253.40
253.41
253.42
198.1
81.1
2.2
0.468
0.469
0.470
0.471
0.472
0.473
0.474
0.475
0.476
0.477
0.478
0.479
0.480
0.481
0.482
0.483
18.4
171
219.1
253.43
253.44
253.45
253.46
195.1
80.1
9
0.484
0.485
0.486
0.487
0.488
0.489
0.490
0.491
0.492
0.493
0.494
0.495
0.496
0.497
0.498
0.499
55
172.1
226
253.47
253.48
253.49
253.50
244
133
11.2
0.500
0.501
0.502
0.503
0.504
0.505
0.506
0.507
0.508
0.509
0.510
0.511
0.512
0.513
0.514
0.515
0.516
0.517
136.1
253.51
253.52
253.53
212
135
132
16.1
0.518
0.519
0.520
0.521
0.522
0.523
0.524
0.525
0.526
0.527
0.528
0.529
0.530
0.531
0.532
0.533
0.534
0.535
0.536
0.537
0.538
0.539
0.540
0.541
0.542
0.543
0.544
0.545
0.546
0.547
0.548
0.549
0.550
0.551
0.552
0.553
0.554
0.555
0.556
0.557
0.558
0.559
0.560
0.561
0.562
0.563
0.564
0.565
0.566
0.567
0.568
0.569
0.570
0.571
0.572
0.573
0.574
0.575
0.576
0.577
0.578
0.579
0.580
0.581
0.582
0.583
0.584
0.585
0.586
0.587
0.588
0.589
0.590
0.591
0.592
0.593
0.594
0.595
0.596
0.597
0.598
0.599
0.600
0.601
0.602
0.603
0.604
0.605
0.606
0.607
0.608
0.609
0.610
0.611
0.612
0.613
0.614
0.615
0.616
0.617

In [12]:
#check if there are any categorical columns
for label,content in df_temp.items():
    if pd.api.types.is_string_dtype(content):
        print(label)

**There are no categorical features.**

In [13]:
#check if there are any columns with nan values
for label, content in df_temp.items():
    if pd.api.types.is_numeric_dtype(content):
        if pd.isnull(content).sum():
            print(label)

**Since there are no missing values and no categorical features, then we can proceed to training by fitting the data to the model.**

In [14]:
#import libraries for modelling and evaluation
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score,precision_score,f1_score,recall_score

In [15]:
# split the dataset into features X and label Y
X = df_temp.drop('5', axis=1)
y = df_temp['5']

In [16]:
X.head()

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.608,0.609,0.610,0.611,0.612,0.613,0.614,0.615,0.616,0.617
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
y.head()

0    0
1    4
2    1
3    9
4    2
Name: 5, dtype: int64

In [18]:
# split the dataset into training and test data
X_train,X_test,y_train,y_test =  train_test_split(X,y, test_size = 0.2, random_state=42, stratify=y)

In [19]:
# determine the shape of the splitted data
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((47999, 784), (12000, 784), (47999,), (12000,))

In [20]:
X_train.head()

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.608,0.609,0.610,0.611,0.612,0.613,0.614,0.615,0.616,0.617
43311,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38391,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43659,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54838,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50506,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
# creating a python dictionary to store the model and their names
models = {'Random Forest classifier': RandomForestClassifier(class_weight='balanced'),
         'SVM': LinearSVC(class_weight='balanced'),
         'Logistic Regression': LogisticRegression(class_weight='balanced')}
#create a function to fit and score the machine learning models
def fit_and_score(models,X_train,X_test,y_train,y_test):
    #set up a random seed to have a reproducive results
    np.random.seed(42)
    model_scores = {}
    for name,model in models.items():
        model.fit(X_train,y_train)
        model_scores[name] = model.score(X_test,y_test)
    return model_scores

In [ ]:
model_scores = fit_and_score(models,X_train,X_test,y_train,y_test)
model_scores

In [ ]:
model_score = pd.DataFrame(model_scores,
                          index=['Accuracy score'])
model_score

In [ ]:
# make it visual
model_score.T.plot(kind='bar',cmap='summer')
plt.xticks(rotation=0);

## Evaluation of our Machine Learning Models

In [ ]:
#Creating an empty dataframe for the Model evaluation
model_eval = pd.DataFrame(columns = ['Model', 'Accuracy_Score', 'Precision_Score', 'Recall_Score', 'F1_Score'])
model_eval

In [ ]:
def model_evaluation(X_train, X_test, y_train, y_test, models, df, X, y):
    '''
    This function Evaluates the Model, using accuracy score, precision, recall score and f1 score and
    also enters the score into model1_eval Dataframe
    '''
    # 'c' represents the index for each entry
    c = 0
    for name,model in models.items():
        model.fit(X_train,y_train)
        y_pred = model.predict(X_test)
        #Filling the dataframe
        df.loc[c, 'Model'] = name
        df.loc[c, 'Accuracy_Score'] = accuracy_score(y_test, y_pred)
        df.loc[c, 'Precision_Score'] = precision_score(y_test, y_pred, average = None).mean()
        df.loc[c, 'Recall_Score'] = recall_score(y_test, y_pred, average = None).mean()
        df.loc[c, 'F1_Score'] = f1_score(y_test, y_pred, average = None).mean()
        c += 1
    return df

In [ ]:
model_evaluation(X_train, X_test, y_train, y_test, models, model_eval, X, y)

**From our evaluation of the models, Random Forest classifier performed better in terms of accuracy score, f1, precision and recall score. Therefore, we will use it to make our prediction**

In [ ]:
model = RandomForestClassifier(class_weight='balanced', random_state=42)
model.fit(X_train,y_train)
y_preds = model.predict(X_test)
y_preds

In [ ]:
# determine the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_preds)

In [ ]:
X1 = np.array(X)
X1

In [ ]:
image = X1[3].reshape(28,28)
print(image)

In [ ]:
#to visualize the data
plt.imshow(image, cmap="gray")
plt.axis('off')
plt.title(y[9]);